@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simulador de Média</h1>
    <p>Desenvolvido Por: <a href="https://github.com/SSergioSantoSS">SSergioSantosSS</a>.</p>
</div>
